<footer id="contacto" class="text-center py-4 mt-5">

    <div class="container">

        <h5>SmartPredict AI</h5>

        <p>
            Proyecto académico orientado al mantenimiento predictivo
            mediante inteligencia artificial, IoT y automatización industrial.
        </p>

        <p class="mb-1">
            Desarrollado por: <strong>Diego Chitupanta</strong>
        </p>

        <p class="mb-1">
            Ingeniería en Tecnologías de la Información
        </p>

        <p class="mb-1">
            Universidad Estatal Amazónica
        </p>

        <p class="mb-0">
            © 2026 SmartPredict AI. Todos los derechos reservados.
        </p>

    </div>

</footer>
